body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
}
ul {
    list-style: none;
}
.container, .full, .trending-info {
    display: flex;
}
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #881337;
    height: 100vh;
    color: white;
    width: 15%;
}
.logo {
    margin-top: 20%;
}
.main {
    width: 100%;
}
.header {
    box-shadow: 0px 1px 10px gray;
}
.pfp, .pfp-greet {
    border-radius: 50%;
    border: 1px solid black;
}
.pfp {
    height: 50px;
    width: 50px;
}
.pfp-greet {
    height: 70px;
    width: 70px;
}
input[type="text"] {
    width: 500px;
    height: 2.8rem;
    background: rgb(202, 202, 202);
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
}
.main, .header {
    display: flex;
    flex-direction: column;
}
.header-top, .search, .profile, .header-bottom, .greeting, .project-icons {
    display: flex;
}
.search, .profile, .greeting, .buttons, .trending-info, .project-icons {
    gap: 20px;
}
.header-top, .header-bottom, .full {
    justify-content: space-between;
}
.greeting-icon, .buttons, .trending-icon, .profile, .search, .greeting {
    display: flex;
    align-items: center;
}
.project-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    height: 100%;
}
.project-icons {
    justify-content: flex-end;
}
.search, .greeting {
    margin-left: 30px;
}
.profile, .buttons {
    margin-right: 30px;
}
.search, .profile {
    margin-top: 10px;
    margin-bottom: 30px;
}
.header-bottom {
    margin-bottom: 10px;
}
.greeting-text {
    margin: 0;
}
.full {
    margin-left: 30px;
    margin-right: 30px;
}